.footer-box {
  color: white;
  flex-direction: column;
  padding: 30px 500px 30px 500px;
  font-size: 14px;
  background-color: darkgray;

  /* border-top: 1px solid darkblue; */
}

.footer-info {
  text-align: left;
  margin-top: 3px;
}

.footer {
  position: absolute;
  bottom: 0%;
  width: 100vw;
}
